<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.fenixdev.documentProviderFileExpose">

    <application
        android:name="br.com.fenixdev.documentProviderFileExpose.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_document_provider"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_document_provider_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ContentProviderFileExpose">
        <activity
            android:name="br.com.fenixdev.documentProviderFileExpose.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="br.com.fenixdev.documentProviderFileExpose.documentProvider.DocumentProviderExample"
            android:authorities="br.com.fenixdev.documentProviderFileExpose.documentProvider.documents"
            android:grantUriPermissions="true"
            android:exported="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

    </application>

</manifest>